@charset "UTF-8";

h1 {
	text-align: center;
	padding-bottom: 8%;
}

#selectCategoriesAccueilDeco {
	display: inline-block;
	margin-top: 5%;
	min-width: 50%;
	width: 50%;
}

@media screen and (min-width: 768px) {
	#block1Accueil {
		width: 15%;
	}
}

@media screen and (max-width: 768px) {
	#block1Accueil {
		width: 100%;
		margin-bottom: 5%;
	}
}

#boutonAccueilDeco {
	width: 200px;
	border: 1px solid;
	box-shadow: 1px 1px 12px grey;
	text-align: center;
}

#block2AccueilDeco {
	padding-top: 10%;
}