@charset "UTF-8";

/*BODY DEBUT*/
body {
	font-size: 150%;
}
/*BODY FIN*/

/* CSS PAGE INDEX DEBUT */
.ombrageTopCotes {
	box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
	-moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
	-webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
}

@media screen and (min-width: 1000px) {
	#boutonRechercher {
		width: 50%;
		margin-right: 0%;
		margin-left: auto;
	}
}

.boderRadiusIndex{
	border-radius: 15px;
}

#titreIndex {
	margin-bottom: 5%;
}

#boutonRechercher {
	width: 35%;
	margin: auto;
}

#imageProduit {
	marin-left: 5%;
}

#Block3Article {
	margin-top: 3%;
}

.containerIndex {
	width: 100%;
	margin-left: 5%;
}

#checkboxVente, #checkboxAchat {
	margin-left: 5%;
}

#block3index {
	padding-bottom: 5%;
	border-radius: 15px;
}

#checkboxIndex {
	margin-left: 15%
}

#radioVente, #radioAchat {
	margin-left: 5%;
}

#blockFiltreIndex {
	width: 100%;
}

#container1Index {
	/* 	padding-right: 10%;	 */
	
}
/* CSS PAGE INDEX FIN */

/* CSS PAGE DE CONNEXION DEBUT */
@media screen and (max-width: 999px) {
	#boutonConnexion {
		width: 100%;
	}
}

#boutonConnexion {
	width: 70%;
}
/* CSS PAGE DE CONNEXION FIN */

/* CSS PAGE DE CREATION DE COMPTE DEBUT */
@media screen and (min-width: 1000px) {
	#boutonAnnuler, #boutonCree, #boutonSupprimer, #boutonEnregistrer {
		width: 50%;
		margin: auto
	}
}

#blockBoutonCreationDeCompte {
	width: 100%;
	margin: auto;
	margin-bottom: 5%;
}

@media screen and (max-width: 768px) {
	#boutonAnnuler, #boutonCree, #boutonSupprimer, #boutonEnregistrer {
		width: 100%;
		marign: 0;
	}
}

#titreProfil {
	margin-top: 10%;
}

#versionMobile {
	display: none;
}

/* CSS PAGE DE CREATION DE COMPTE FIN */

/* CSS PROFIL UTILISATEUR DEBUT  */
#bodyIndex {
	margin: 0;
	font-size: 130%;
}
/* CSS PROFIL UTILISATEUR FIN  */

/* CSS VENTE DEBUT */
#boutonEnregistrerVente, #boutonAnnulerVente {
	width: 30%;
}

#descriptionVente {
	height: 10%;
}

#boutonEnregistrerVente {
	margin-right: 0;
	margin-left: auto;
}

#boutonAnnulerVente {
	margin-right: auto;
	margin-left: 0;
}

#descriptionVente {
	height: auto;
}
/* CSS VENTE FIN */

/* CSS ENCHERE DEBUT */
#boutonEncherirVente, #boutonAnnulerEnchere {
	width: 30%;
}

#boutonEncherirVente {
	margin-right: 0;
	margin-left: auto;
}

#boutonAnnulerEnchere {
	margin-right: auto;
	margin-left: 0;
}
/* CSS ENCHERE FIN */

/* CSS ENCHERE REMPORTE DEBUT */
#boutonRetourEnchere {
	margin-right: 0;
	margin-left: auto;
	width: 30%;
}
/* CSS ENCHERE REMPORTE FIN */